body {
    padding: 50px 100px;
    margin: 0%;
}
h1 {
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 30px;
    padding: 8px;
    margin: 0%;
}
#textbox {
    width: 99.5%;
    margin: 0%;
}
p {
    text-align: center;
    background-color: blue;
    color: white;
    font-size: 19px;
    margin: 0%;
    padding: 10px;
}